
p{
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}
.navbar {
    transition: all 0.4s;
}
.navbar-toggler{
    color: #fff;
}

.navbar .nav-link {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}
.navbar.active .navbar-toggler {
    color: #555;
}



.text-small {
    font-size: 0.9rem !important;
}

.first {
    position: relative;
    height: 100vh;
    background: url("../images/smart_house.jpg");
    background-size: cover;
}

.first svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}
.second{
    margin-top: 20vh;
}

.page_title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.page_small_title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
}

#second_info {
    margin-top: 5vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.services__item h4{
    margin-top: 3vh;
    font-size: 1.5rem;
}

.services__item:hover > .services__item__icon{
    transform: translateY(-2vh);
}

.services__item__icon{
    transition: .5s;
}
.third{
    margin-top: 15vh;
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../images/appart.jpg");
    background-size: cover;
}
.third_info .row{
    margin-top: 10vh;
}
.third_info h4{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
}
.third_info p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
}
.first_dev .third_info{
    margin-top: 15vh;
}
.device_img{
    height: 32rem;
}
.top_svg {
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}
.second_svg {
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}
.fourth{
    margin-top: 10vh;
}
.process_card_img{
    width: 100%;
    height: 100%;
}
.process_card_img img{
    width: 100%;
    height: 100%;
}
.process_card_text{
    height: 100%;
    overflow: auto;
}

.process_card_text::-webkit-scrollbar {
    width: 7px;
    height: 0;
}

.process_card_text::-webkit-scrollbar-track {
    margin: 0 0 73px
}

.process_card_text::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
}



.process_card_text::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.55)
}

.pr_card {
    margin-top: 10vh!important;
}
.pr_card .row{
    height: 320px;
}
.card_title{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.card_text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}
.fifth{
    margin-top: 15vh;
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../images/house_back.jpg");
    background-size: cover;
}

.button {
    position: relative;
    padding: .6em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
    font-family: 'Open Sans', sans-serif;
}

.button.type1 {
    color: #ffffff;
}

.button.type1.type1::after, .button.type1.type1::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.button.type1.type1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
}

.button.type1.type1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
}

.button.type1.type1:hover:after, .button.type1.type1:hover:before {
    width: 100%;
    height: 100%;
}


.scenarios{
    margin-top: 10vh;
}
.scenarios_desc{
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    font-size: 1.3rem;
}
.carousel-item img{
    width: auto;
    height: 400px;
}
.zigbee{
    margin-top: 10vh;
}
@media only screen and (min-width: 950px) {
    .carousel-caption{
     top: 50%;
    bottom: auto;
    -webkit-transform: translate(0, -30%);
    -ms-transform: translate(0, -30%);
    transform: translate(0, -30%);
}
}

.carousel-caption h5{
    text-transform: uppercase;
}
.slider_cont{
    margin-top: 10vh;
}
.why_choose_us{
    margin-top: 10vh;
    background-color: #F3F3F3;
}
.why_choose_cont{
    margin-top: 10vh;
}
.why_choose_box{
    padding: 1rem;
}
.why_choose_box:hover > .services__item__icon{
    transform: translateY(-1.5vh);
}
.contact{
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../images/cont_back.jpg");
    background-size: cover;

}

.contact_cont{
    margin-top: 5vh;
}
.contact_cont h4{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;

}
.contact_cont p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
}
footer{
    background-color: #15151E;
    color: white;
}
.page-footer .container .mt-3{
    margin-top: 0!important;
}
.footer-copyright{
    color: white;
}
.first_dev {
    position: relative;
    height: 85vh;
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../images/appartment_for_device.jpg");
    background-size: cover;
}
.vertical-center {
    display: flex;
  align-items: center;
}
.dev_text{
    color: white;
}
.first_dev svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}
.first_dev h4{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
}
.first_dev p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.text-align {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.second_device{
    margin-top: 4rem;
}
.second_device h5{
    font-size: 1.6rem;
    margin-top: 2rem;
}

/*---------------LIST STYLE------------------*/


.list {
    list-style-type: none;
    margin: 2rem 0 0 0;
    padding: 0 2rem;
}

.list--ordered {
    counter-reset: list-counter;
    display: block;
}

@media (min-width: 40em) {
    .list--ordered {
        columns: 2 auto;
        column-gap: 2rem;
    }
}

.list--ordered .list__item {
    background-image: linear-gradient(180deg, #ddd 0%, #ddd 100%);
    background-repeat: no-repeat;
    background-size: 2px 100%;
    background-position: 1rem center;
    display: block;
    min-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    position: relative;
}

.list--ordered .list__item:nth-child(1)::before {
    background-position: center 10%;
}

.list--ordered .list__item:nth-child(2)::before {
    background-position: center 20%;
}

.list--ordered .list__item:nth-child(3)::before {
    background-position: center 30%;
}

.list--ordered .list__item:nth-child(4)::before {
    background-position: center 40%;
}


.list--ordered .list__item::before {
    background: linear-gradient(to right, #434343 0%, black 100%);
    background-repeat: no-repeat;
    background-size: 2rem 20rem;
    border-radius: 50%;
    color: white;
    content: counter(list-counter);
    counter-increment: list-counter;
    display: block;
    height: 2rem;
    left: 0;
    line-height: 2;
    position: absolute;
    text-align: center;
    width: 2rem;
}
.item-dev{
    height: 350px;
}
.item-dev img{
    height: 350px;
}
.dev-controls{
    opacity: 1!important;
}
.dev-controls .material-icons{
    font-size: 2.5rem!important;
    text-shadow: 2px 2px 0  black; /* Параметры тени */
}
.dev_slider{
    margin-bottom: 0;
}






.first_price {
    position: relative;
    display: flex;
    height: 85vh;
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../images/appart_pricing.jpg");
    background-size: cover;
}
.first_price svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}
.first_price h4{
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin: auto;
}
.first_price p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/*-----------------------PRICING---------------------*/




h1.demo-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
  letter-spacing: 2px;
    text-transform: uppercase;
}
.second_price h6{
    font-size: 1.5rem;
    text-align: center;
}


.pricing-table {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1100px;
    margin: 10vh auto 0;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.pricing-table .ptable-item {
  width: 33.33%;
  padding: 0 15px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .pricing-table .ptable-item {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .pricing-table .ptable-item {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .pricing-table .ptable-item {
    width: 100%;
  }
}

.pricing-table .ptable-single {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.pricing-table .ptable-header,
.pricing-table .ptable-body,
.pricing-table .ptable-footer {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.pricing-table .ptable-status ,
.pricing-table .ptable-title,
.pricing-table .ptable-price,
.pricing-table .ptable-description,
.pricing-table .ptable-action {
  position: relative;
  width: 100%;
  text-align: center;
}

.pricing-table .ptable-single {
  background: #f6f8fa;
}

.pricing-table .ptable-single:hover {
  box-shadow: 0 0 10px #999999;
}

.pricing-table .ptable-header {
  margin: 0 30px;
  padding: 30px 0 45px 0;
  width: auto;
  background: black;
}

.pricing-table .ptable-header::before,
.pricing-table .ptable-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid #f6f8fa;
}

.pricing-table .ptable-header::before {
  right: 50%;
  border-right: 250px solid transparent;
}

.pricing-table .ptable-header::after {
  left: 50%;
  border-left: 250px solid transparent;
}

.pricing-table .ptable-item.featured-item .ptable-header {
  background: #FF6F61;
}

.pricing-table .ptable-status {
  margin-top: -30px;
}

.pricing-table .ptable-status span {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  padding: 5px 0;
  text-align: center;
  color: #FF6F61;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  background: black;
}

.pricing-table .ptable-status span::before,
.pricing-table .ptable-status span::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid #FF6F61;
}

.pricing-table .ptable-status span::before {
  right: 50%;
  border-right: 25px solid transparent;
}

.pricing-table .ptable-status span::after {
  left: 50%;
  border-left: 25px solid transparent;
}

.pricing-table .ptable-title h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
}

.pricing-table .ptable-price h2 {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  margin-left: 15px;
}

.pricing-table .ptable-price h2 small {
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  margin-top: 16px;
  margin-left: -15px;
}

.pricing-table .ptable-price h2 span {
  margin-left: 3px;
  font-size: 16px;
  font-weight: 300;
}

.pricing-table .ptable-body {
  padding: 20px 0;
}

.pricing-table .ptable-description ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pricing-table .ptable-description ul li {
  color: black;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 7px;
  border-bottom: 1px solid #dedede;
}

.pricing-table .ptable-description ul li:last-child {
  border: none;
}

.pricing-table .ptable-footer {
  padding-bottom: 30px;
}

.pricing-table .ptable-action a {
  display: inline-block;
  padding: 10px 20px;
  color: #FF6F61;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  background: black;
}

.pricing-table .ptable-action a:hover {
  color: black;
  background: #FF6F61;
}

.pricing-table .ptable-item.featured-item .ptable-action a {
  color: black;
  background: #FF6F61;
}

.pricing-table .ptable-item.featured-item .ptable-action a:hover {
  color: #FF6F61;
  background: black;
}
.second_price{
    margin-top: 10vh;
}






















/*-----------------------------CONTACT---------------------*/
.first_contact {
    position: relative;
    display: flex;
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%), url("../images/cont_background.jpg");
    background-size: cover;
}

.first_contact svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}

.first_contact h4 {
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin: auto;
}

.first_contact p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.second_cont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #f2f2f2;
}
.svg_with_back{
    background: #f2f2f2;
}

.contact-form {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin: 50px 0;
}

.contact-form > * {
    width: 50%;
}

.contact-form .first-container {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://colorlib.com/etc/cf/ContactFrom_v17/images/bg-01.jpg") center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form .first-container .info-container div {
    margin: 24px 0;
}

.contact-form .first-container .info-container div h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 10px;
}

.contact-form .first-container .info-container div:first-of-type p {
    max-width: 260px;
    color: #999;
}

.contact-form .first-container .info-container div p {
    font-size: 16px;
    line-height: 1.6;
    color: #00ad5f;
}

.contact-form .second-container {
    padding: 30px;
}

.contact-form .second-container h2 {
    font-size: 30px;
    font-weight: 400;
    color: #333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form .second-container form {
    display: flex;
    flex-direction: column;
}

.contact-form .second-container form .form-group {
    margin-bottom: 10px;
}

.contact-form .second-container form .form-group * {
    min-height: 55px;
    border: 1px solid #e6e6e6;
    padding: 0 20px;
}

.contact-form .second-container form .form-group label {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #e6e6e6;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    margin-top: -1px;
}

.contact-form .second-container form .form-group:first-of-type input {
    width: 50.1%;
    margin-right: -5px;
}

.contact-form .second-container form .form-group input {
    width: 100%;
    font-size: 15px;
    margin-top: -2px;
}

.contact-form .second-container form .form-group input::placeholder, .contact-form .second-container form .form-group textarea::placeholder {
    color: #999;
}

.contact-form .second-container form .form-group textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
    padding: 10px 20px;
    margin-top: -1px;
}

.contact-form .second-container form button {
    width: 200px;
    height: 50px;
    background: #00ad5f;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    position: relative;
    left: calc(50% - 100px);
    cursor: pointer;
}

.contact-form .second-container form button:hover {
    background: #333;
}

@media screen and (max-width: 800px) {
    .contact-form {
        width: 90vw;
    }
}

@media screen and (max-width: 769px) {
    .contact-form {
        flex-direction: column-reverse;
    }

    .contact-form > * {
        width: 100%;
    }

    .contact-form .first-container {
        padding: 40px 0;
    }
}














/*-------------------------------------PROTOCOLS--------------------**/
.first_house {
    position: relative;
    display: flex;
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%), url("../images/protocols_back.jpg");
    background-size: cover;
}

.first_house svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}

.first_house h4 {
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin: auto;
}

.first_house p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.second_house{
    margin-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}
.nav-pills .nav-link.active{
    background-color: #15151E!important;
    color: white!important;
}
#profile-tab, #home-tab{
    color: #15151E;
}
@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}
.combination{
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../images/combination_back.jpg");
    background-size: cover;
}
.third_home{
    margin-top: 10vh;
}
.voice_info h4{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: right;
}
.voice_info p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: right;
}
.voice_img img{
    height: 400px;
}
.fourth_home{
    margin-top: 10vh;
}
.fourth_home{
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../images/dostup_back.jpg");
    background-size: cover;
}
.what_can_do_us{
    margin-top: 10vh;
}
.what_can_do_cont{
    margin-top: 10vh;
}
.what_can_do_box{
    padding: 1rem;
}
.what_can_do_box:hover > .services__item__icon{
    transform: translateY(-1.5vh);
}

.connect{
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../images/connect_back.jpg");
    background-size: cover;

}

.connect_cont{
    margin-top: 5vh;
}
.connect_cont h4 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;

}

.connect_cont p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
}

.legrand {
    background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%), url("../images/legrand_back.jpg");
    background-size: cover;
}

.legran_second {

}



.legran_second {
    padding-right: 5vw;
    padding-left: 5vw;
  margin: 10vh auto auto auto;
}

.legran_second p {
  margin:0; padding: 30px;
}




.legran_second p:nth-child(even) {
    border-top: 2px dashed;
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
}

.legran_second p:nth-child(odd) {
    border-top: 2px dashed;
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px;
  padding-left: 0;
}

.legran_second p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.legran_second p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
.item-dev{
    height: 350px;
}
.item-dev img{
    height: 350px;
}
.leg-controls{
    opacity: 1!important;
}
.leg-controls .material-icons{
    color: black;
    font-size: 3rem!important;
}
.dev_slider{
    margin-bottom: 0;
}