
p{
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}
.navbar {
    transition: all 0.4s;
}
.navbar-toggler{
    color: #fff;
}

.navbar .nav-link {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}
.navbar.active .navbar-toggler {
    color: #555;
}



.text-small {
    font-size: 0.9rem !important;
}

.first {
    position: relative;
    height: 100vh;
    background: url("../images/smart_house.jpg");
    background-size: cover;
}

.first svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}
.second{
    margin-top: 20vh;
}

.page_title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
}

#second_info {
    margin-top: 5vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.services__item h4{
    margin-top: 3vh;
    font-size: 1.5rem;
}

.services__item:hover > .services__item__icon{
    transform: translateY(-2vh);
}

.services__item__icon{
    transition: .5s;
}
.third{
    margin-top: 15vh;
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../images/appart.jpg");
    background-size: cover;
}
.third_info .row{
    margin-top: 10vh;
}
.third_info h4{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
}
.third_info p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
}
.first_dev .third_info{
    margin-top: 15vh;
}
.device_img{
    height: 32rem;
}
.top_svg {
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}
.second_svg {
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}
.fourth{
    margin-top: 10vh;
}
.process_card_img{
    width: 100%;
    height: 100%;
}
.process_card_img img{
    width: 100%;
    height: 100%;

}
.pr_card{
    margin-top: 10vh!important;
    height: 40vh;
}
.card_title{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.card_text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}
.fifth{
    margin-top: 15vh;
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../images/house_back.jpg");
    background-size: cover;
}

.button {
    position: relative;
    padding: .6em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
    font-family: 'Open Sans', sans-serif;
}

.button.type1 {
    color: #ffffff;
}

.button.type1.type1::after, .button.type1.type1::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.button.type1.type1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
}

.button.type1.type1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
}

.button.type1.type1:hover:after, .button.type1.type1:hover:before {
    width: 100%;
    height: 100%;
}


.scenarios{
    margin-top: 10vh;
}
.scenarios_desc{
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    font-size: 1.3rem;
}
.carousel-item img{
    width: auto;
    height: 400px;
}
@media only screen and (min-width: 950px) {
    .carousel-caption{
     top: 50%;
    bottom: auto;
    -webkit-transform: translate(0, -30%);
    -ms-transform: translate(0, -30%);
    transform: translate(0, -30%);
}
}

.carousel-caption h5{
    text-transform: uppercase;
}
.slider_cont{
    margin-top: 10vh;
}
.why_choose_us{
    margin-top: 10vh;
    background-color: #F3F3F3;
}
.why_choose_cont{
    margin-top: 10vh;
}
.why_choose_box{
    padding: 1rem;
}
.why_choose_box:hover > .services__item__icon{
    transform: translateY(-1.5vh);
}
.contact{
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../images/cont_back.jpg");
    background-size: cover;

}

.contact_cont{
    margin-top: 5vh;
}
.contact_cont h4{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;

}
.contact_cont p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
}
footer{
    background-color: #15151E;
    color: white;
}
.page-footer .container .mt-3{
    margin-top: 0!important;
}
.footer-copyright{
    color: white;
}
.first_dev {
    position: relative;
    height: 85vh;
    background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7)100%),url("../images/appartment_for_device.jpg");
    background-size: cover;
}
.vertical-center {
    display: flex;
  align-items: center;
}
.dev_text{
    color: white;
}
.first_dev svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}
.first_dev h4{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
}
.first_dev p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.text-align {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.second_device{
    margin-top: 4rem;
}
.second_device h5{
    font-size: 1.6rem;
    margin-top: 2rem;
}

/*---------------LIST STYLE------------------*/


.list {
    list-style-type: none;
    margin: 2rem 0 0 0;
    padding: 0 2rem;
}

.list--ordered {
    counter-reset: list-counter;
    display: block;
}

@media (min-width: 40em) {
    .list--ordered {
        columns: 2 auto;
        column-gap: 2rem;
    }
}

.list--ordered .list__item {
    background-image: linear-gradient(180deg, #ddd 0%, #ddd 100%);
    background-repeat: no-repeat;
    background-size: 2px 100%;
    background-position: 1rem center;
    display: block;
    min-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    position: relative;
}

.list--ordered .list__item:nth-child(1)::before {
    background-position: center 10%;
}

.list--ordered .list__item:nth-child(2)::before {
    background-position: center 20%;
}

.list--ordered .list__item:nth-child(3)::before {
    background-position: center 30%;
}

.list--ordered .list__item:nth-child(4)::before {
    background-position: center 40%;
}


.list--ordered .list__item::before {
    background: linear-gradient(to right, #434343 0%, black 100%);
    background-repeat: no-repeat;
    background-size: 2rem 20rem;
    border-radius: 50%;
    color: white;
    content: counter(list-counter);
    counter-increment: list-counter;
    display: block;
    height: 2rem;
    left: 0;
    line-height: 2;
    position: absolute;
    text-align: center;
    width: 2rem;
}
.item-dev{
    height: 350px;
}
.item-dev img{
    height: 350px;
}
.dev-controls{
    opacity: 1!important;
}
.dev-controls .material-icons{
    font-size: 2.5rem!important;
    text-shadow: 2px 2px 0  black; /* Параметры тени */
}
.dev_slider{
    margin-bottom: 10vh;
}
